html {
  background: url("img/veggie.png") center no-repeat fixed;
  background-size: cover;
}

body {
  width: 600px;
  text-align: center;
  margin: auto;
}

.green {
  color: green;
}

.lime {
  border: 2px soild lime;
  color: lime;
}
.red {
  color: red;
  border: 2px solid red;
}

h3 {
  font-size: 50px;
}

button:hover {
  cursor: pointer;
}
